:root{
  --one-color: rgb(240, 234, 210);
  --two-color: rgb(108, 88, 76);
  --three-color: rgb(169, 132, 103);
  --four-color:rgb(173, 193, 120);
  --five-color:rgb(221, 229, 182);
} 

*{
  margin:0; 
  padding:0;
  box-sizing: border-box;
  color: rgb(169, 132, 103);
  outline: none; 
  border:none;
  text-decoration: none;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: var(--two-color);
  margin:0;
  padding:0;
  justify-content: center;
  align-items: center;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}

.navbar{
  display: flex;
  position:fixed;
  top:0; 
  left:0; 
  right: 0;
  background: var(--two-color);
  padding:1.5rem 7%;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.navbar .navbar-nav {
  font-size: 1.5rem;
  color:rgb(240, 234, 210);
  display: flex;
  margin: 0 1rem;
}
.navbar .navbar-logo {
  font-size: 4rem;
  color:rgb(240, 234, 210);
  font-weight: 700;
}

.navbar .navbar-logo span{
  color: rgb(173, 193, 120);
}

.navbar .navbar-nav a{
  font-size: 1.5rem;
  color:rgb(240, 234, 210);
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
  color: rgb(173, 193, 120);
}

.navbar .navbar-nav a::after{
  content:'';
  display:block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(240, 234, 210) ;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
  transform: scaleX(0.5);
}

.navbar .navbar-extra a{
  color: var(--one-color);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover{
  color: rgb(240, 234, 210);
} 

#menu {
  display: none;
}

/* home */
section{
  padding: 70px 17% 60px;
} 

.home{
  background-attachment: fixed; 
  background-position: center;
  height: 100vh;
  width:100%;
  background-image: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1564149504298-00c351fd7f16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: rgb(240, 234, 210);
}

.home-text{
  text-align: center;
  margin-top: 150px;
  padding:100px 50px 50px 50px;
  background-color: rgba(0,0,0,0.3);
}

.home-text h5{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgb(173, 193, 120);
}

.home-text h1{
  font-size: 8rem;
  font-weight: 900px;
  line-height: 1.2;
  margin-bottom: 45px;
  color: var(--one-color);
}

.btn{
  display: inline-block;
  padding: 13px 40px;
  background-color: rgb(221, 229, 182);
  color:rgb(108, 88, 76);
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
  cursor: pointer;
  box-shadow: 0 0 5px  rgba(0,0,0,.1);
}

.btn:hover{
  transform: translateX(10px);
  border: 2px solid rgb(173, 193, 120);
  background: transparent;
  color: rgb(173, 193, 120);
}

/*login */
.login{
  background: var(--one-color);
  width: 400px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: .1rem solid rgba(0,0,0,.1);
}

.login h1{
  padding-top: 50px;
  font-size: 36px;
  text-align: center;
  color:var(--three-color);
}

.login .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin:30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline:none;
  border:2px solid var(--two-color);
  border-radius: 40px;
  font-size: 16px;
  color:var(--three-color);
  padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
  color:var(--four-color);
}

.login .remember-forgot{
  display:flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin:-15px 0 15px;
}

.remember-forgot label input{
  accent-color: var(--two-color);
  margin-right:3px;
}

.remember-forgot a{
  color:var(--two-color);
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.login .btn2{
  width:100%;
  height: 45px;
  background: var(--five-color);
  border:none;
  outline:none;
  border-radius: 40px;
  box-shadow: 0 0 5px  rgba(0,0,0,.1);
  cursor:pointer;
  font-size: 16px;
  color: var(--two-color);
  font-weight: 600;
}

.login .btn2:hover{
  transform: translateX(10px);
  border: 2px solid rgb(173, 193, 120);
  background: transparent;
  color: rgb(173, 193, 120);
}
.login .register-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.login .register-link p a{
  color:var(--two-color);
  text-decoration: none;
  font-weight: 600;
}

.login .register-link p a:hover{
  text-decoration: underline;
}

/* footer2 */
.footer2 {
 background-color: var(--four-color);
 margin-top: 50px;
 font-size: 1.5rem;
 font-weight: 600;
}
.footercontainer{
  width:100%;
  height: 10%;
  padding:5px 10px 5px;
}
.socmed{
  display:flex;
  justify-content: center;
}
.socmed a{
  text-decoration: none;
  padding:5px;
  margin:10px;
  border-radius:50px;
  filter:invert(1);
}
.footernav{
  margin: 5px;
}
.footernav ul{
  display:flex;
  justify-content: center;
}
.footernav ul li{
  color: var(--two-color);
  margin:20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  list-style: none;
}
.footernav ul li a:hover{
  color: var(--one-color);
  font-size: 1.6rem;
  text-decoration: underline;
}
.footerbottom{
  text-align: center;
}
.footerbottom p{
  font-size: 1.5rem;
}

/* artike */
.cumi {
  text-align: center;
  font-size: 18px;
}
.cumi-content{
  padding: 50px 25px 25px 25px;
  background-color: var(--one-color);
  border-radius: 1.5rem;
  border: .1rem solid rgba(0,0,0,.1);
}
.cumi-content img{
  width: 477px;
  height: 377px;
}
.cumi-content h1{
  font-size: 8rem;
  padding-bottom: 50px;
  letter-spacing: 6px;
}
.cumi-content h3{
  font-size: 3rem;
}
.cumi-content p{
  font-size: 18px;
  text-align: justify;
  padding:15px;
}
.footercumi {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--four-color);
  color:var(--one-color) ;
  text-align: center;
  padding: 15px;
  letter-spacing: 6px;
}
.footercumi p{
  letter-spacing: 10px;
  font-size: 2rem;
  width:100%;
  white-space: nowrap;
  overflow:hidden;
  animation: typing 2s steps(18);
}
@keyframes typing{
  from {width:0}
}
.bahan h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.bahan table{
  border-collapse: collapse;
  padding: 50px;
  margin: 50px auto;
  width: 50%;
}
th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid var(--two-color);
}

/* contact */
.contact h1{
  font-size: 5rem;
  margin-bottom: 40px;
  color: var(--one-color);
  letter-spacing: 6px;
}
.contact2{
  position: relative;
  min-width: 1100px;
  min-height: 600px;
  display:flex;
  z-index:1000;
}
.contact2 .contactinfo{
  position:absolute;
  top:40px;
  width:350px;
  height:calc(100% - 80px);
  background: var(--four-color);
  z-index:1;
  padding:40px;
  display:flex;
  justify-content: center;
  flex-direction:column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.contact2 .contactinfo h2{
  color:var(--two-color);
  font-size:24px;
  font-weight:500;
}

.contact2 .contactinfo ul.info{
  position:relative;
  margin:20px 0;
  font-size: 1.7rem;
  padding-left: 40px;
  padding-top: 10px;
}
.contact2 .contactinfo ul.info li{
  position:relative;
  list-style: none;
  display:flex;
  margin:20px 0;
  cursor: pointer;
  align-items: flex-start;
}
.contact2 .contactinfo ul.info li span:nth-child(1){
 width: 30px;
 min-width:30px;
}
.contact2 .contactinfo ul.info li span:nth-child(1) img{
  max-width:100%;
  filter:invert(1);
}
.contact2 .contactinfo ul.info li span:nth-child(2){
  color: var(--two-color);
  margin-left:10px ;
  font-weight:300;
}
.contact2 .contactinfo ul.sci{
  position: relative;
  display:flex;
}
.contact2 .contactinfo ul.sci li{
  list-style: none;
  margin-right:15px;
}
.contact2 .contactinfo ul.sci a{
  text-decoration: none;
}
.contact2 .contactinfo ul.sci a img{
  filter:invert(1);
}
.contact2 .contactform{
  position: absolute;
  padding:70px 50px;
  padding-left:250px;
  margin-left:150px;
  width:calc(100% - 150px);
  height:100%;
  background: var(--one-color);
  box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.contact2 .contactform h2{
  color: var(--two-color);
  font-size: 24px;
  font-weight: 500;
}
.contact2 .contactform .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-top: 30px;
}
.contact2 .contactform .formBox .inputBox{
  position: relative;
  margin-bottom: 35px;
}
.contact2 .contactform .formBox .inputBox.w50{
  width:47%;
}
.contact2 .contactform .formBox .inputBox.w100{
  width:100%;
}
.contact2 .contactform .formBox .inputBox input,
.contact2 .contactform .formBox .inputBox textarea{
  width:100%;
  resize:none;
  padding:5px 0;
  font-size: 18px;
  font-weight: 300;
  color:var(--two-color);
  border:none;
  outline:none;
  border-bottom: 1px solid var(--three-color);
  background: var(--one-color);
}
.contact2 .contactform .formBox .inputBox textarea{
  height:120px;
}
.contact2 .contactform .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight:300;
  transition: 0,3s;
}
.contact2 .contactform .formBox .inputBox input:focus ~ span,
.contact2 .contactform .formBox .inputBox input:valid ~ span,
.contact2 .contactform .formBox .inputBox textarea:focus ~ span,
.contact2 .contactform .formBox .inputBox textarea:valid ~ span{
  transform: translateY(-20px);
  font-size:12px;
  font-weight: 400;
  letter-spacing: 1px;
}
.contact2 .contactform .formBox .inputBox input[type="submit"]{
  position:relative;
  cursor:pointer;
  background: var(--four-color);
  color: var(--two-color);
  border:none;
  max-width: 150px;
  padding:12px;
}
.contact2 .contactform .formBox .inputBox input[type="submit"]:hover{
  background: var(--five-color);
}

/* about */
.about{
  text-align: center;
}
.about-content h1{
  letter-spacing: 6px;
}
.about-content{
  padding: 50px 25px 25px 25px;
  background-color: var(--one-color);
  border-radius: 1.5rem;
  border: .1rem solid rgba(0,0,0,.1);
}
.about-content img{
  width: 477px;
  height: 377px;

}
.about-content h1{
  font-size: 8rem;
  padding-bottom: 50px;
}
.about-content h3{
  font-size: 3rem;
}
.about-content p{
  font-size: 18px;
  text-align: justify;
  text-indent: 50px;
  padding:15px;
}
/* .about .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--four-color);
  color:var(--one-color) ;
  text-align: center;
  padding: 15px;
  font-size: 2rem;
  letter-spacing: 6px;}
  .about .footer p{
    letter-spacing: 10px;
    font-size: 2rem;
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    animation: typing 2s steps(18);
  }
  @keyframes typing{
    from {width:0}
  } */
  .about .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--four-color);
    color:var(--one-color) ;
    text-align: center;
    padding: 15px;
    letter-spacing: 6px;
  }
  .about .footer p{
    letter-spacing: 10px;
    font-size: 2rem;
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    animation: typing 2s steps(18);
  }
  @keyframes typing{
    from {width:0}
  }
/* products */
.heading{
  font-size: 5rem;
  text-align: center;
  padding-bottom: 20px;
  color: var(--one-color);
  letter-spacing: 6px;
}
.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.box-container .box{
  flex:1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,.1);
  position: relative;
  background-color: var(--one-color);
}
.box-container .box .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}
.box-container .box .image img{
  height:25rem;
}
.box-container .box:hover .image img{
  transform: scale(1.1);
}
.box-container .box .image .icon{
  position: absolute;
  bottom: -7rem; left: 0; right:0;
  display:flex;
}
.box-container .box:hover .image .icon{
  bottom: 0;
}
.box-container .box .image .icon a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 100%;
  background: var(--four-color);
  color:var(--one-color);
}
.box-container .box .image .icon a:hover{
  background: var(--two-color);
}

.box-container .box .content{
  padding: 2rem;
  text-align: center;
}

.box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--three-color)
}

.box-container .box .content .price{
 font-size: 2.5rem;
 color: var(--four-color);
 font-weight: bolder;
 padding-top: 1rem;
} 

.products .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--four-color);
  color:var(--one-color) ;
  text-align: center;
  padding: 15px;
  font-size: 2rem;
  letter-spacing: 6px;
}

/* sidebar */
.sidebar {
  width: 150px;
  height: 150px;
  position: fixed;
  z-index: 1;
  top: 500px;
  right: 0;
  border-radius: 5rem;
}
.sidebar img{
  width: 100%;
  height: 100%;
  border-radius: 8rem;
}



/*media queries */

/* laptop */
@media (max-width:1366px){
  html{
    font-size: 75%;
  }

  #menu{
    display: inline-block;
  }

  .navbar{
    padding: 1.8rem 4%;
}
}
.navbar .navbar-nav{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--one-color);
    width: 30rem;
    height: 100vh;
}

.navbar .navbar-nav.active{
    right: 0;
    transition: 1s;
}

.navbar .navbar-nav a{
    font-size: 2rem;
    color:var(--two-color);
    display: block;
    margin: 3rem;
    text-align: center;
}


.navbar .navbar-nav a:hover{
    color: var(--four-color);
    font-size: 1.6rem;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--three-color);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-extra a {
  color: var(--one-color);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--three-color);
} 
 
#menu {
  color: var(--one-color);
  margin: 0 0.5rem;
}
#menu a:hover{
  color: var(--three-color);
}

/* tablet  */
@media (max-width:758px) {
  html{
    font-size: 62.5%;
  }
  
}

/* hp */
@media (max-width:450px) {
  html{
    font-size: 50%;
  }

  .heading{
   font-size: 3rem; 
  }
}

